.navbar {
    text-align: center;
    margin: 0 auto;
    width: 1280px;
    height: 81px;
}

.header {
    background-color: white;
}


a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #16a085;
    font-weight: bold;
    padding: 18px 30px 18px 30px;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, serif ;
    font-size: 18pt;

}

.image {
    background: url("../img/азорсикеострова.jpg");
    height: 790px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}

h2 {
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, serif;
    font-size: 22pt;
    color: rgba(55, 55, 55, 255);
    font-weight: bold;
}

.text p {
    text-align: center;
}

.text {
    width: 1059px;
    height: 650px;
    margin: 39px 108px 41px 113px;
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, serif;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
}

.container {
    height: 1440px;
    width:  100%;
    background-color: #f5f6f7;
    text-align: center;
   background-size: cover;

}

.button-container {
    text-align: center;
    margin: 0 auto;
    padding: 35px 0 90px 0;


}

.button {
    background-color: #16a085;
    height: 51px;
    width: 192px;
    font-family: ﻿GothamRounded-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular, serif;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
}


footer p {
    background-color: white;
    height: 90px;
    width: 1280px;
    text-align: right;
    padding: 70px 50px 0 0;
    font-family: ﻿AdobeInvisFont, ﻿Courier, serif;
    font-size: 16pt;
    color: rgba(55, 55, 55, 255);
    display: inline-block;

}

