.logo {

    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 80pt;
    text-align: left;
    text-decoration: none;
    height: 166px;
    width: 292px;
    margin: 10px 0 0 80px;
}

.logo a {
    color: #000000;
}
a {
    text-decoration: none;
    margin: 5px 0 5px 5px;
}

a.ul {
    text-align-last: left;
}
.colortext {
    color: #4bcaff;
}

 .menu-nav ul {
     text-decoration: none;
     text-align: left;
     font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
     font-size: 29.99244pt;
     color: rgba(73, 88, 99, 255);
     padding: 0;
     line-height: 70px;
     display: inline-block;
     height: 399px;
     width: 344px;
     border: 1px solid #35444f;

   }

.header {
    height: 69px;
    width: 1280px;
    text-decoration: none;
    text-align: center;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 24pt;
    background-size: 100%;
    background-color: #35444f;
    padding: 30px 0 3px 0;
    margin: auto;
    clear: both;

}

.menu {
    color: rgba(255, 255, 255, 255);
    height: 69px;
    width: 1280px;
    text-align: center;
    background-size: 100%;
    margin: 100px auto;
    padding: 100px 20px 40px 20px;
}

.block-image {
    height: 529px;
    width: 885px;
    float: right;
    margin: auto;
    border: 1px solid gray;
    clear: both;
    display: inline-block;
    text-align: center;
}
.content {
    height: 1280px;
    width: 1480px;
    text-align: center;
    display: inline-block;
}

ul {
     width: initial;
    display: inline;
}
li {
    list-style-type: none;
   }

p {
    line-height: 40px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.text {

    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 18pt;
    color: rgba(44, 44, 44, 255);
    width: 815px;
    text-align: justify;
    float: right;
    clear: both;
}


.menu-footer li {
    text-decoration: none;
    background-color: #b4b7ba;
    background-size: cover;
    margin: 0;
    padding: 0;
    clear: both;
    list-style: none;
    display: inline;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular, sans-serif;
    font-size: 28pt;
    color: rgba(12, 25, 39, 255);
    width: 100%;
}

.menu-footer ul {
    clear: both;
    display: inline;
    height: 69px;
    width: 1280px;
    list-style: none;
    float: right;
    background-size: cover;
}

