.section {
    background-image: url("../img/rana-sawalha.png");
    background-size: 100%;
    height: 912px;
    width: 1366px;
    background-repeat: no-repeat;

}

.header {
    position: relative;
    height: 56px;
    width: 1366px;
    border: 5px solid gray(5);
    background-color: rgba(23, 22, 22, 0.6);
    }

.logo {
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, ﻿Courier sans-serif;
    font-size: 20pt;
    color: rgba(255, 255, 255, 255);
    position: relative;
    top: 18px;
    left: 81px;
}


.icon {
    width: 123px;
    height: 20px;
    position: absolute;
    top: 20px;
    right:330px;

}

.ic-forum, .ic-journey, .ic-caledar
{ display: inline-block; background: url('../img/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: right;}

.ic-forum { background-position: -0px -0px; width: 28px; height: 20px; }
.ic-journey { background-position: -0px -20px; width: 20px; height: 20px; }
.ic-caledar { background-position: -0px -40px; width: 19px; height: 19px; }


p {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    float: right;
    margin: -35px 70px 19px 50px;
    position: relative;
    top: 25px;
    right: 35px;

}

p span {
    width: 197px;
}
span {
    color: #3aae72;
}


.container {
    width: 1200px;
    margin: 0 auto;

}

form {
    height: 584px;
    width: 444px;
    border: 2px solid gray;
    border-radius: 20px 20px;
    background-color: white;
    margin: 121px auto ;
    text-align: center;
    position: relative;

}

img {
    position: absolute;
    top: 30px;
    left: 0;
    height: 18px;
    width: 18px;

}
 input  {
     width: 320px;
     height: 46px;
     margin: 0 auto;

}
 ul {
     position: absolute;
     top: 120px;
     left: 20px;
     height: 46px;
     width: 322px;

 }

 li {
     list-style-type: none;
     padding: 5px 0;

 }

 h2 {
     position: absolute;
     left: 60px;
     top: 5px;
     font-family:  AdobeInvisFont, ﻿Courier, ﻿Verdana, Arial sans-serif;
     font-size: 20pt;
     color: rgba(67, 67, 67, 255);
 }

 h3 {
     height: 13px;
     position: absolute;
     top: 15px;
     right: 60px;
     text-align: right;
     color: #3cb878;
     font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, Arial sans-serif;
     font-size: 14pt;
     color: rgba(60, 184, 120, 255);
 }

 .button1 {
       height: 46px;
       width: 157px;
       border: 1px solid #305db8;
       background-color: #305db8;
       color: white;
       position: absolute;
       top: 70px;
       left: 60px;

   }

.button2 {
    height: 46px;
    width: 157px;
    border: 1px solid #df4a32;
    background-color: #df4a32;
    color: white;
    position: absolute;
    top: 70px;
    right: 60px;

}

input[type=checkbox] {
    height:10px;
    width:10px;
    transform: scale(2,2);
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
    font-size: 14pt;
    color: #3aae72;
    background: white;
    text-align: left;
    position: absolute;
    left: 45px;
    top: 320px;
    word-spacing: 20px;
}

.silver-line {
    width: 135px;
    border: 1px solid silver;
    margin-top: 130px;
    margin-left: 60px;
}
.or {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
    font-size: 14pt;
    color: #848484;
    position: absolute;
    top: 152px;
    left: 70px ;
}

.silver-line2 {
    width: 135px;
    border: 1px solid silver;
    margin-top: -2px;
    margin-left: 245px;

}

input[type=text]{
      font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
      font-size: 14pt;
      color: rgba(190, 190, 190, 255);
      padding-left: 10px;

  }

input[type=email]{
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
    font-size: 14pt;
    color: rgba(190, 190, 190, 255);
    padding-left: 10px;
}

input[type=submit] {
    color: white;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
}

.boxShadow {
    width: 80%;
    max-width: 550px;
    margin: 1em auto;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.logo:hover {
    color: #3cb878;
}

 a:hover {
    color: #3cb878;
}

a .ic-forum, .ic-journey, .ic-caledar:hover {
    color: #3cb878;
}
