.content {
    background-image: url("../img/background.jpg");
     background-repeat: no-repeat ;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
    max-width: 1366px;
    height: 100%;
   }

.header {
    height: 141px;
    margin: 0;
    padding: 0;
}

.logo {
    color: white;
    height: 64px;
    width: 164px;
    padding: 49px 0 0 220px;
    border: none;
    float: left;
}

span {
    font-size: 29pt;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier sans-serif;
    float: left;
}

.logo p {
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier sans-serif;
    font-size: 18pt;
    height: 46px;
    width: 105px;
    border: none;
    float: left;
}

.logo::before {
    content: url(../img/logo@1X.png);
    position: relative;
    left: -160px;
    top: 33px;
}

.contact  {
    color: white;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier sans-serif;
    font-size: 18pt;
    border: none;
    width: 243px;
    height: 37px;
    float: right;
    display: block;
}

#adress {
    float: right;
    padding: 75px 180px 0 0;
    margin: 0;
    text-align: right;
}

.body {
    display: inline-block;
    text-align:center;
    width: 1095px;
    height: 499px;
    overflow: inherit;
    padding: 0;
    margin: 48px 150px 61px 155px;
    border: 0;
}

.card1 {
    float: left;
    margin-right: 69px;
    padding: 0;
}

 .card2 {
     float: left;
     margin-right: 69px;
     padding: 0;
 }

 .card3 {
     float: left;
     padding: 0;
 }

 .card4 {
     float: left;
     clear: both;
     margin-right: 69px;
     padding: 0;
 }

 .card5 {
     float: left;
     margin-right: 69px;
     padding: 0;
 }

 .card6 {
     float: left;
     padding: 0;
 }

p {
    color: white;
    padding: 22px 0 55px 0;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
    font-size: 18pt;
}

 .footer p {
     text-align: center;
     color: white;
     font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana sans-serif;
     font-size: 12pt;
     padding: 30px 0 20px 0;
     margin: 30px 0 0 0;
     border: 0;
     overflow: inherit;
 }

 .footer {
     border: 0;
     overflow: inherit;
 }

a {
text-decoration: none;
}